@model IEnumerable<ThriveWebApp.Models.PhoneCase>
@{
    ViewBag.Title = "Index";
}

<h1>FAQ</h1>
<h2>See bellow the most common questions.</h2>

<h3>How can I buy?</h3>

<p>
    In order to buy you select the case for your phone model and request it then our customer service will contact you and process your payment via phone.
</p>

<h3>How long does the delivery take?</h3>

<p>
    Order for Dublin City will take up to 3 days, rest of Ireland 5 days.
</p>


<h3>How can I pay?</h3>

<p>
    In order to pay via phone you may use your Visa or Mastercard as well as cash on delivery.
</p>



<h3>How can I return?</h3>

<p>
    If you wish to return you have up to 14 days to send it back to us once received in our store we will process your refund in 5 days.
</p>



<h3>Do I have warranty?</h3>

<p>
    All cases have 1 year warranty.
</p>