
@{
    ViewBag.Title = "Index";
}

@section css {
    <link rel="stylesheet" href="~/Content/styles.css" />
}

<h2>Do you want to join the new movement? What Iphone do you have? We are working with these models, please select yours</h2>

<div id="cases">
     <a href="http://localhost:51811/Shop/Iphone7"><img width=200 src="~/Content/Images/izu_cork.jpg" alt="izu_cork photo" /></a>
     <a href="http://localhost:51811/Shop/Iphone8"><img width=200 src="~/Content/Images/blue.jpg" alt="blue photo" /></a>
    <a href="http://localhost:51811/Shop/Iphonexr"><img width=200 src="~/Content/Images/Green_Case.jpg" alt="green photo" /></a>
</div>
