
@{
    ViewBag.Title = "Iphone8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This case will fit any iphone 8</h2>
<img src="~/Content/Images/blue.jpg" alt="blue photo" />
<input type="submit" value="Add to Cart" />

