
@{
    ViewBag.Title = "IphoneXR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This case will fit any iphone XR</h2>
<img src="~/Content/Images/Green_Case.jpg" alt="green photo" />
<input type="submit" value="Add to Cart" />

