
@{
    ViewBag.Title = "Iphone8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
}
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />

<h2>This case will fit any iphone 7</h2>
<div id="cork">
    <img src="~/Content/Images/izu_cork.jpg" alt="izu_cork photo" />
    <input type="submit" value="Add to Cart" />
</div>

<div>
   
</div>

