
@if (Session["name"] != null)
{
<span>@Session["name"], you are logged in</span>
@Html.ActionLink("Logout","Logout","User", null,new { @class="register" })
}
else
{
    @Html.ActionLink("Register","Index","User", null, new { @class="register" })
    @Html.ActionLink("Login /", "Login", "User", null, new { @class="register" })
}


