
@{
    ViewBag.Title = "Index";
}


<h1>We are Thrive</h1>


<h3> The idea of the company</h3>

<p>
    Here at Thrive we have a big, hairy audacious goal.  We want to create a waste free future.

    We believe that the technology exists to make everyday products without everyday waste, it just takes the right company with the right community to make these products the new normal.

    This is why we are developing products made of environmentally sensible materials. To educate and inspire the global community of people who are committed to making a positive impact on our planet.

    Put simply, we believe in better.
</p>

<h3>Origin Story</h3>

<p>
    This all started with <b>Douglas</b>.  My team saw first hand the damage plastic was doing to our oceans.
    We had the courage to spend years experimenting with new materials to try and find an alternative to plastic that could be used in everyday products like iphone cases.
</p>


<h3>Our Values</h3>

<p>
    It’s one thing to have a strong mission and purpose, it is another thing entirely to create and nurture the team and community required to make this waste free future a reality.

    This is why we created our core values.  To help us and our community stay the course.

    These are the 4 “C’s” we’ve curated.  We hope they mean as much to you as they do to us.
</p>



<h4>Community</h4>

<p>
    Commit to a culture that builds a vibrant community.

    We want to play, have fun, and laugh together.  We want to engage in meaningful debate, to have the right conversations so that we can create value for ALL of our stakeholders.  We call this ‘taking care of the whole’. Everything we do together must be good for us as individuals, as a team, as a business, for our community and ultimately for our planet.  There is no planet B.

    Two quotes that inspire us:

    “We are the people we’ve been waiting for.”

    “We will rise up through our children.”
</p>



<h4>Creativity</h4>

<p>
    Foster creativity to inspire innovation.

    Better is born from creativity.  The only reason things are the way they are is because other people made it that way.  Which means with a little bit of creativity we can make things better.


</p>

<h4>Consciousness</h4>

<p>
    Live with awareness and consciousness of the impact of our choices.

    We are mindful of the impact of even the smallest decisions.

    We are grateful for both the opportunities and the challenges we face.

    We are humbled by the lessons learned in both wins and losses.

    We are concerned only with what’s right instead of who’s right.
</p>

<h4>Courage</h4>

<p>
    Embrace courage by taking action despite uncertainty.

    To disrupt traditional ways of thinking and challenge the status quo, you need courage.  It allows us to accept that we don’t know everything, but we’re willing to learn and try the seemingly impossible.

    Meaningful impact is made when you are willing to tackle bold initiatives in which there is a chance of failing.  Coming out with a black eye doesn’t mean we are weak, it means we were not afraid to take a shot at something worth doing.
</p>

<header>
    <a href="/Contact"><img width="130" height="60" src="~/Content/Images/logo.png" alt="logo" /></a>
</header>